@import '../../partials/variables';
@import '../../partials/mixins';

.results {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 5px;
    height: 75vh;
    width: 50%;
    flex-grow: 1;
    padding-top: 1rem;
    margin: 1rem 0.5rem 1rem 0;
    box-shadow: 5px 5px 5px $black-shadow;

    &__header {
        margin: 0 1rem;
    }

    &__list {
        padding: 0;
        overflow: scroll;
        flex-grow: 1;
    }

    &__empty {
        text-align: center;
        align-self: center;
        margin: auto 0;
        padding-bottom: 6rem;
        width: 60%;
        font-size: 1.5rem;
        color: $grey;
    }
}
