@font-face {
    font-family: 'Avenir';
    src:url('../fonts/avenir-next-regular.ttf') format('truetype'),
        url('../fonts/avenir-next-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src:url('../fonts/avenir-next-demi-bold.ttf') format('truetype'),
        url('../fonts/avenir-next-demi-bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src:url('../fonts/avenir-next-bold.ttf') format('truetype'),
        url('../fonts/avenir-next-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
