@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/animations';

.movie {
    @include remove-list-style;
    display: flex;
    justify-content: space-between;
    height: 11rem;
    padding: 0.5rem 1rem;

    &__poster {
        max-width: 7rem;
        height: 10rem;
        object-fit: cover;
        object-position: center;
        margin-right: 2rem;
    }

    &__details {
        flex-basis: 1;
        flex-grow: 1;
    }

    &__title {
        font-size: 1.25rem;
        max-height: 3.75rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; 
    }

    &__year {
        font-size: 1.25rem;
    }

    &__trophy {
        width: 7rem;
        margin-right: 2rem;
    }

    &:nth-child(odd){
        background-color: $alabaster;
    }

    &--added {
        transform: translate(0px);
        animation: slide-in-right 0.4s ease 0s 1 backwards;
    }

    &--remove {
        transform: translate(0px);
        animation: slide-out-right 0.4s ease 0s 1 forwards;
    }

}
